<!DOCTYPE html>
<html lang="en" 
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="home">
<head>
<meta charset="ISO-8859-1">
<title>BonLivraison</title>
<link rel="stylesheet" href="/ERPPro/css/bl.css">
</head>
<body>
<div layout:fragment="content">
<div class="ag-format-container">
  <div class="ag-courses_box">
  
    <div class="ag-courses_item" th:each = "bc: ${bcs}">
     
      <a href="#" class="ag-courses-item_link">
        <div class="ag-courses-item_bg" th:classappend="${bc.bcliv.ddepense.cat}">
       </div>
             
        <span th:if="${bc.bldoc != null && @fileUtils.getFileExtension(bc.bldoc) == 'pdf'}"  aria-hidden="true" style="float:right;color:white; z-index: 2;position: relative;" th:onclick="'downloadDocPDF(' + ${bc.idBL} + ')'"><i class="fa-solid fa-download" style="margin-top: 10px"></i></span>
             <span th:if="${bc.bldoc != null && @fileUtils.getFileExtension(bc.bldoc) != 'pdf'}"  aria-hidden="true" style="float:right;color:white; z-index: 2;position: relative;" th:onclick="'downloadDocJPEG(' + ${bc.idBL} + ')'"><i class="fa-solid fa-download" style="margin-top: 10px"></i></span>

        <div class="ag-courses-item_title" th:text ="${bc.bcliv.description}">
      
        </div>

 <div class="ag-courses-item_date-box">
          Date:
          <span class="ag-courses-item_date" th:text ="${#dates.format(bc.date, 'yyyy/MM/dd')}">
           
          </span>
        </div>
        <div class="ag-courses-item_date-box">
          Adresse:
          <span class="ag-courses-item_date" th:text ="${bc.addresse}">
            
          </span>
        </div>
      </a>
    </div>

 

 

  

  






  </div>
</div>
<script type="text/javascript">
var token=sessionStorage.getItem('token');




function downloadDocPDF(id){
	   fetch('/ERPPro/user/BLdocPDF/'+id, {
        method: 'GET',
        headers: {
     	 	 'Authorization': `Bearer ${token}`
     	 	    },             
    })
    .then(response => response.blob())
    .then(blob => {
        const pdfUrl = URL.createObjectURL(blob);
        const a = document.createElement('a');
        
        a.href = pdfUrl;
        a.download = 'bl' + id + '.pdf';

        document.body.appendChild(a);

        a.click();

        document.body.removeChild(a);

    });
 }

function downloadDocJPEG(id){
 fetch('/ERPPro/user/BLJPEG/'+id, {
     method: 'GET',
     headers: {
  	 	 'Authorization': `Bearer ${token}`
  	 	    },             
 })
 .then(response => response.blob())
 .then(blob => {
 	  const url = window.URL.createObjectURL(blob);
       const a = document.createElement('a');
       a.href = url;
       a.download = 'bl' + id + '.jpg';
       document.body.appendChild(a);
       a.click();
       document.body.removeChild(a);
     
    
   

  

 });
}
</script>


  <script type="text/javascript">


  jQuery(document).ready(function ($) {

  	if(sessionStorage.getItem("email") ==null){
  		window.location.href = '/ERPPro/home/login'
  		}
  	else{
  		fetch('/ERPPro/home/getUserType?email='+sessionStorage.getItem("email"), {
  	        method: 'GET',
  	     
  	       
  	    })
  	    .then(response => response.text())
  	    .then(data => {
  	       
  	        if(data =="Client"){
  	    

  	        	window.location.href = '/ERPPro/home/login'
  	           
  	            }
  	     
  	    })
  		}
  })
  </script>

</body>
</html>
