<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
 <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>NadFact</title>
<link rel="stylesheet" href="/ERPPro/css/style.css">
<link rel="stylesheet" href="/ERPPro/boxicons-2.1.4/css/boxicons.min.css">
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css"/>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
  <link rel=" shortcut icon" type="image/png" href="/ERPPro/images/logo2.png">
</head>
<body id="home">

    <div class="scroll-up-btn">
        <i class="bx bx-up-arrow-alt bx-sm"></i>
    </div>
    <div class="showcase">
        <!-- navbar top section -->

        <div class="navbar-top">
          
        </div>

        <!-- navbar bottom section -->
       <div class="navbar-bottom">
            <a href="#home" class="brand-left">
			<img  src="/ERPPro/images/logo.png" style="width:155px;height: 75px ">
			</a>
            <ul class="menu-right">
                <li><a href="#home">Home</a></li>
                <li><a href="#services">Services</a></li>
                
                <li><a href="#teams">Equipe</a></li>
                
                <li><a href="#contact">Contact</a></li>
                <li><a href="/ERPPro/home/login">Log in</a></li>
                <li><a href="#"><i class="bx bx-search bx-sm" id="search-btn"></i></a></li>
            </ul>
            <div class="search-form">
                <input type="search" name="search-box" id="search-box" placeholder="search here...">
                <label for="search-box" class="bx bx-search bx-sm"></label>
            </div>
       </div>

       <!-- Showcase content Section -->
       <div class="showcase-content">
           <h1>Optimisez votre temps<br><span>Maximisez votre efficacité</span></h1>
           <p>Nous offrons des solutions adaptées aux entreprises, vous permettant<br> de gérer facilement vos factures et dépenses au quotidien.</p>
           <a href="#" class="btn btn-left">EXPLORE MORE</a>
           <a href="#" class="btn btn-right">GET IN TOUCH</a>
       </div>
    </div>

    <!-- Services / Goal Section  -->

    <section id="services" class="bg-light py-3">
        <div class="wrapper">
            <div class="items">
                <div class="item">
                    <i class="bx bxs-badge-dollar bx-lg"></i>
                    <h3>Service de Facturation</h3>
                    <p style="margin-top: 12px">Faciliter le suivi et la gestion de toutes vos factures en un seul endroit.</p>
                </div>
                <div class="item">
                    <i class="bx bxs-credit-card bx-lg"></i>
                    <h3>Service de Dépense</h3>
                    <p style="margin-top: 12px">Maîtrisez vos dépenses et contrôler vos coûts en toute simplicité.</p>
                </div>
                <div class="item">
                    <i class="bx bxs-chat bx-lg"></i>
                    <h3>Chat Instantané</h3>
                    <p style="margin-top: 12px">Gardez la communication avec vos clients fluide et efficace.</p>
                </div>
               
            </div>
            <div id="goal" class="goal">
                <div class="goal-img">
                    <img src="/ERPPro/images/photo1.jpg">
                </div>
                <div class="goal-text">
                    <a href="#">Nos Priorités</a>
                    <h2>Engagement Envers<br>l'Excellence Client</h2>
                    <div class="contents">
                        <div class="content p-4">
                            <i class="bx bx-check bx-sm"></i>
                        </div>
                        <div class="content p-4">
                            <h3>Simplicité et Efficacité</h3>
                            <p>Facilitez la gestion de vos finances avec nos solutions intuitives<br>et efficaces de facturation et de gestion des dépenses.<br></p>
                        </div>
                    </div>
                    <div class="contents">
                        <div class="content p-4">
                            <i class="bx bx-check bx-sm"></i>
                        </div>
                        <div class="content p-4">
                            <h3>Support Client Personnalisé</h3>
                            <p>Offrez à vos clients une expérience exceptionnelle grâce à notre service<br>de chat instantané, assurant une communication fluide et réactive.</p>
                        </div>
                    </div>
                    <div class="contents">
                        <div class="content p-4">
                            <i class="bx bx-check bx-sm"></i>
                        </div>
                        <div class="content p-4">
                            <h3>Innovation Continue</h3>
                            <p>Nous nous engageons à vous fournir des solutions innovantes qui<br>répondentaux besoins évolutifs de votre entreprise .<br></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Portfolio Section -->
   

    <!-- Team Section -->
    <section id="teams" class="teams bg-light py-3">
        <h3 class="text-center">NOUS SOMMES LÀ POUR VOUS</h3>
        <h2 class="text-center">Rencontrez Notre <span class="text-secondary">Equipe Professionnelle</span></h2>
        <p class="text-center">Nous vous aidons à voir le monde différemment, à découvrir des opportunités<br> que vous n'aurez peut-être jamais
imaginé et obtenu des résultats qui relient ce qui est avec ce qui peut être</p>
        <div class="wrapper">
            <div class="card-items">
                <div class="card">
                    <div class="card-header">
                        <img src="/ERPPro/images/profil.jpg">
                    </div>
                    <div class="card-body">
                        <h3>Nader Bessioud</h3>
                        <h4>Software engineer</h4>
                        <ul>
                            <li><a href="#"><i class="bx bxl-twitter bx-xs"></i></a></li>
                            <li><a href="#"><i class="bx bxl-pinterest-alt bx-xs"></i></a></li>
                            <li><a href="https://www.facebook.com/BessioudNader/"><i class="bx bxl-facebook bx-xs"></i></a></li>
                            <li><a href="https://www.instagram.com/naderbessioud/?hl=fr"><i class="bx bxl-instagram-alt bx-xs"></i></a></li>
                        </ul>
                    </div>
                </div>
               
             
              
            </div>
        </div>
    </section>
    
    <!-- Blog Section -->


    <!-- Newsletter Section -->
    <section id="contact" class="contact">
      <div class="left_container">
      </div>
      
      <div class="right_container">
      </div>
      <div class="content-container">
      	<div class="inner_content">
      		<div class="left_content">
      			<div class="contact_info">
      				<div class="info_content">
      					<h2 class="heading">Contact info</h2>
      				<div class="content_box">
      					<img src="img/untitled-1.png" alt="">
      					<span>El mourouj  Ben ArousBen Aros</span>
      				</div>
      				<div class="content_box">
      					<img src="img/email.png" alt="">
      					<span>naderbessioud98@gmail.com</span>
      				</div>
      				<div class="content_box">
      					<img src="img/phone.png" alt="">
      					<span>(+216)29658549</span>
      				</div>
      				<div class="footer_icon">
      					<i class="fab fa-facebook"></i>
      					<i class="fab fa-instagram"></i>
      					<i class="fab fa-twitter"></i>
      					<i class="fab fa-linkedin"></i>
      				</div>
      				</div>
      			</div>
      		</div>
      		<div class="right_content">
      			<div class="inner_form">
      				<form action="index.html">
      					<h2 class="form_heading">Envoye un Message</h2>
      					<div class="first_row">
      					<div class="input_box">
      						<input type="text" class="input_field">
      						<label for="">First Name</label>
      					</div>
      					
      					<div class="input_box">
      						<input type="text" class="input_field">
      						<label for="">Last Name</label>
      					</div>
      					</div>
      					
      					<div class="first_row">
      					<div class="input_box">
      						<input type="email" class="input_field">
      						<label for="">Email</label>
      					</div>
      					
      					<div class="input_box">
      						<input type="tel" class="input_field">
      						<label for="">telephone</label>
      					</div>
      					</div>
      					
      					<div class="first_row">
      					<div class="input_box">
      						<textarea class="text_field"></textarea>
      						<label for="">Votre message ici...</label>
      					</div>
      					</div>
      					
      					<input type="submit" class="btn1" value="send">
      				</form>
      			</div>
      		</div>
      	</div>
      </div>
    </section>

    <!-- Footer Section -->
    <footer class="footer-bottom py-3 text-center">
        <p>Copyright &copy; 2022 by NadFact. All Rights Reserved.</p>
    </footer>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
    <script src="/ERPPro/js/app.js"></script>
</body>
</html>
